doctype html
html(ng-app="searchPage")
html
  head
    title Search Page
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet',href='/bower_components_/bootstrap/dist/css/bootstrap.min.css')

  body(ng-controller="searchController")
    h1 News page
    p Welcome to News Page

    h2 Top News from NyTimes and Guardian:

    //here we can ask to order by date.
    div
      ul(ng-repeat="result in news")
        li
          h5(ng-bind="result.date | date")
          b
            a(href="{{result.url}}" ng-bind="result.title" target="_blank")


  script(src='./bower_components_/angular/angular.min.js', type='text/javascript')
  script(src='./bower_components_/angular-route/angular-route.min.js', type='text/javascript')
  script(src="./app/app.js", type="text/javascript")
  script(src='./bower_components_/jquery/dist/jquery.min.js', type='text/javascript')
  script(src='./bower_components_/bootstrap/dist/js/bootstrap.min.js', type='text/javascript')
  //script(src="../../views/tests.js", type="text/javascript")
  script(src="./app/newsService.js", type="text/javascript")
  script(src="./app/formatService.js", type="text/javascript")
  script(src="./app/searchController.js", type="text/javascript")